{% extends 'layout.html' %}


{% block main_page %}

<div class="wrapper">
    <div class="empty_block"></div>

    <div class="info">
        <div class="description">
            <p class="names">Проведи время с пользой!</p>

            <div class="desc">
                <ul class="checkmark">
                    <li><a href="{{ url_for('parks') }}">Парки</a></li>
                    <li><a href="{{ url_for('nature_reserves') }}">Заповедники</a></li>
                    <li><a href="{{ url_for('recycling_points') }}">Места переработки</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock main_page %}